body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.fixed {
  height: auto;
  position: fixed;
  background-color: #31344e;
}

.header.fixed .header__inner {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #515369;
}

.header-phone {
  margin-top: 60px;
}

.header-phone-number {
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #606060;
}

.restangle-1 {
  width: 25px;
  height: 2px;
  background: #887569;
}

.restangle-2 {
  width: 19px;
  height: 2px;
  background: #887569;
}

.restangle-3 {
  width: 25px;
  height: 2px;
  background: #887569;
}

.nav {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  padding: 30px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.vector {
  margin-top: 50px;
}

.img-vectors {
  margin-left: 25px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}

.restangles div {
  margin: 5px 0;
}

.nav__link {
  margin-left: 25px;
  color: #887569;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  opacity: 1;
}

.nav-col {
  margin-left: 15px;
}

.icons {
  margin-left: 110px;
}

.social {
  display: inline;
  margin-left: 20px;
}

select {
  margin-left: 30px;
  border: 0;
  outline: none;
  font-size: 18px;
  color: #787878;
}

.nav-col-2 {
  font-size: 16px;
}

.arrow_example_4 {
  border-top: 1px solid #787878 !important;
  border-right: 1px solid #787878 !important;
  margin: 0px 0 2px 10px;
  transform: rotate(45deg);
  display: inline-block;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 320px 0 0 0;
}

.text-intro {
    margin-left: 525px;
    margin-top: -60px;
}

.author-book {
    line-height: 22px;
    color: #A3A3A3;
}

.intro__title {
    font-weight: 500;
    font-size: 24px;
    padding: 8px 0 20px 0;
}

.arrow_example_5 {
    border-top: 1.5px solid #787878 !important;
    border-right: 1.5px solid #787878 !important;
    margin: 0px 0 5px 3px;
    transform: rotate(135deg);
    display: inline-block;
}

.a_e-content {
    margin-left: 10px;
    color: #373737;
}

.name-price-book {
    position: relative;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 25px;
    margin-right: 25px;

}

.img-book {
    margin: 0px 40px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

svg{
    display: block;
    width: 28px;
    height: 21px;
}
    
#svg_2{
    fill:transparent; 
    stroke: #675B56;
    stroke-width: 15px;
    cursor: pointer;
    transition:fill .3s;
}
  
#svg_2.filled{
    fill:#f00;
}
  
.circle-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 420px;
    margin-top: -20px;
    width: 51px; 
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.intro-line {
    border: 0.5px solid #CDCDCD;
    margin-top: 20px;
}

.to-cart {
    width: 189px;
    height: 53px;
    background: #887569;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    transition: .1s linear, color .1s linear;
}

.to-cart:hover {
    box-shadow: 0px 0px 10px #887569;
}

.to-cart-con {
    padding: 12px 0 0 0 ;
}

.price-book {
    padding: 0 70px 0 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;    
    color: #343434;
}

.conteiner {
    display: flex;
    height: 240px;
}

.information-book-qestion {
    padding: 20px 0 0 0;
    width: 150px;
    height: 220px;
}

.information-book-answer {
    margin-left: 100px;
    padding: 20px 0 0 0;
    width: 180px;
    height: 220px;
}

.question {
    font-size: 14px;
    line-height: 22px;    
    color: #373737;
}

.content-book {
    padding: 20px 0 0 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    width: 650px;   
}

.crickles {
    width: 20px;
    display: flex;
    justify-content: space-between;
}

.crickle {
    width: 4px;
    height: 4px;
    background: #A5A5A5;
    border-radius: 100%;
}

.section-head-text {
    padding: 40px 0 0 0;
    text-align: center;
}

.sht-content {
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;    
    color: #373737;
}

.name-author-book {
    color: #606060; 
    font-weight: 300; 
    font-size: 16px; 
    margin: 275px 17px 0;
}

.name-book {
    margin: 10px 17px 0;
}

.price-books {
    font-size: 20px; 
    margin: -24px 17px 0;
}

.npb-basket {
    width: 26px;
    height: 26px;
    margin: 5px 0 0 221px
}

.img-book-2 {
    margin: 31px 30px 0;
}

.circle-heart-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 220px;
    margin-top: 14px;
    width: 40px; 
    height: 40px;
    background: #F3E4DE;
}

.name-price-book-2 {
    position: relative;
    width: 279px;
    height: 420px;
    background: #FAF8F6;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 25px;
    margin-right: 25px;
}

.canteiner {
    display: flex;
    align-items: center;
    height: 530px;
}

.tick-2 {
    position: relative;
    border-radius: 100%;
    margin-left: -25px;
    width: 33px;
    height: 33px;
    border: 1px solid #897668;
}

.tick-3 {
    position: relative;
    border-radius: 100%;
    margin-left: -25px;
    width: 33px;
    height: 33px;
    border: 1px solid #897668;
}

.arrow_example_6 {
    position: absolute;
    left: 10px;
    top: 10px;
    border-top: 1.5px solid #787878 !important;
    border-right: 1.5px solid #787878 !important;
    margin: 0px 0 5px 3px;
    transform: rotate(-135deg);
    display: inline-block;
}

.arrow_example_7 {
    position: absolute;
    left: 5px;
    top: 10px;
    border-top: 1.5px solid #787878 !important;
    border-right: 1.5px solid #787878 !important;
    margin: 0px 0 5px 3px;
    transform: rotate(45deg);
    display: inline-block;
}

footer {
    height: 145px;
    background: #F5F5F5;
    display: flex;
}

.footer-information {
    margin-top: -47px;
    margin-left: 140px;
    
}

.footer-content {
    color: #4F4F4F;
    margin-left: 30px;
    opacity: .75;
    transition: opacity .1s linear;
}

.footer-content:hover {
    opacity: 1;
}

.footer-number-phone {
    opacity: .75;
    color: #606060;
    margin-left: 13px;
}

a {
    text-decoration: none;
}